# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyB5unMe6V3HlXPvmgfz4WIrhC1aYxc8kEk

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_dataframe = pd.read_csv("../output_data/cities.csv")
weather_dataframe

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tuktoyaktuk,69.4541,-133.0374,-18.40,76,90,4.61,CA,1613681759
1,1,Davila,18.4726,120.5763,68.86,78,23,27.42,PH,1613682083
2,2,Castro,-24.7911,-50.0119,73.94,58,0,0.63,BR,1613681882
3,3,Barrow,71.2906,-156.7887,-11.20,70,90,18.41,US,1613681735
4,4,Punta Arenas,-53.1500,-70.9167,53.60,47,40,28.77,CL,1613681760
...,...,...,...,...,...,...,...,...,...,...
571,571,Tiznit Province,29.5833,-9.5000,58.39,38,62,0.87,MA,1613682737
572,572,Moctezuma,29.8000,-109.6667,63.36,17,0,10.13,MX,1613682467
573,573,Adwa,14.1646,38.8955,58.42,76,65,1.28,ET,1613682739
574,574,Orán,-23.1322,-64.3260,89.01,62,62,1.50,AR,1613682740
575,575,Novyy Urgal,51.0736,132.5642,-0.04,93,98,4.32,RU,1613682742

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [25]:
locations = weather_dataframe[["Latitude", "Longitude"]]

humidity = weather_dataframe["Humidity"].astype(float)

fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

plt.savefig("Humidity")

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
#A max temperature lower than 80 degrees but higher than 70.

#Wind speed less than 10 mph.

#Zero cloudiness.

#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# weather_conditions_df = pd.DataFrame(weather_dataframe, columns = ["City", "Max Temperature", "Wind Speed", "Cloudiness"])

# max_temperature = (weather_conditions_df["Max Temperature"] <= 80) & (weather_conditions_df["Max Temperature"] => 70)

# wind_speed =weather_conditions_df["Wind Speed"] < 10

# cloudiness = weather_conditions_df["Cloudiness"] == 0

# weather_conditions_df.dropna()



weather_conditions_df = weather_dataframe.loc[(weather_dataframe["Max Temperature"] <= 80) & (weather_dataframe["Max Temperature"] >= 70) & \
                                             (weather_dataframe["Wind Speed"] < 10) & (weather_dataframe["Cloudiness"] == 0)].dropna()

weather_conditions_df

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Castro,-24.7911,-50.0119,73.94,58,0,0.63,BR,1613681882
65,65,Hambantota,6.1241,81.1185,75.13,85,0,6.11,LK,1613681770
73,73,Cidreira,-30.1811,-50.2056,76.23,76,0,7.72,BR,1613681772
112,112,São Filipe,14.8961,-24.4956,70.12,75,0,9.37,CV,1613681778
208,208,Lima,-12.0432,-77.0282,77.00,65,0,5.75,PE,1613681524
291,291,Sur,22.5667,59.5289,70.36,37,0,8.77,OM,1613682418
294,294,Necochea,-38.5473,-58.7368,78.01,54,0,1.99,AR,1613682422
433,433,Am Timan,11.0297,20.2827,70.50,20,0,5.39,TD,1613682578
461,461,Alice Springs,-23.7000,133.8833,77.00,50,0,4.61,AU,1613682611

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = weather_conditions_df[["City", "Country", "Latitude", "Longitude"]]
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-17-6e2cd56eba32>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

              City Country  Latitude  Longitude Hotel Name
2           Castro      BR  -24.7911   -50.0119
65      Hambantota      LK    6.1241    81.1185
73        Cidreira      BR  -30.1811   -50.2056
112     São Filipe      CV   14.8961   -24.4956
208           Lima      PE  -12.0432   -77.0282
291            Sur      OM   22.5667    59.5289
294       Necochea      AR  -38.5473   -58.7368
433       Am Timan      TD   11.0297    20.2827
461  Alice Springs      AU  -23.7000   133.8833

In [19]:
hotel_coordinates = "Lat, Lng"
hotel_search = "hotel"
hotel_radius = 500
hotel_type = "hotel"

# set up a parameters dictionary
params = {
    "location": hotel_coordinates,
    "keyword": hotel_search,
    "radius": hotel_radius,
    "type": hotel_type,
    "key": g_key
}

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

#save figure

plt.savefig("hotel_map")

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))